DATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/DATABASE?schema=SCHEMA" # Prisma options (learn more at https://pris.ly/d/connection-strings)
NODE_ENV=development # Determines whether your instance is a development or production instance